<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Boats</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> 
	<link href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
	<script type="text/javascript" src= "https://code.jquery.com/jquery-2.1.1.min.js"> </script> 
	<script src= "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"> </script> 
</head>

<body class="container">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<!-- set const account to be equal to the account in the query string for use in the account deletion confirmation modal -->
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">&nbsp; Boat Manager</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="boats">Boats</a></li>
				<li><a href="issues">Issues</a></li>
				<li><a href="bookings">Bookings</a></li>
				<li><a href="users">Users</a></li>
				<li><a href="myAccount">My Account</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h5>{{message}}</h5>
		<ul class="collection">
			{% for item in collectionItems %}
				<li class="collection-item avatar"> 
					<i class="material-icons circle blue">sailing</i>
					<span class="title"><b>{{item[0]}}</b></span>
					<p>
						{{item[1]}} <br>
						{{item[2]}} 
					</p>
					<div class="secondary-content">
						<a href="/editBoat?BoatID={{item[0]}}"><i class="material-icons green-text">create</i></a>
						<a href="/deleteBoat?BoatID={{item[0]}}" class="modal-trigger"><i class="material-icons red-text">delete</i></a> <br>
						<a href="/commentsModalBoat{{item[0]}}" class="modal-trigger"><i class="material-icons blue-text">description</i></a>
					</div>
				</li>
			{% endfor %}
		</ul>
		{% for item in collectionItems %}
			<div id="commentsModalBoat{{item[0]}}" class="modal">
				<div class="modal-content">
					<ul class="collection">
					  <li class="collection-item">Boat number: {{item[0]}}</li>
					  <li class="collection-item">Name: {{item[1]}}</li>
					  <li class="collection-item">Class: {{item[2]}}</li>
					  <li class="collection-item">Owner: {{item[4]}}</li>
					  <li class="collection-item">Comments: {{item[3]}}</li>
					</ul>
				</div>
			</div>
		{% endfor %}
		<a href="/newBoat" class="waves-effect waves-green btn">New Boat</a>
	</div>
<script> 
	$(document).ready(function () { 
		$('.modal').modal(); 
	}) 
</script>
</body>
</html>