<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit Booking</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<nav>
		<div class="nav-wrapper">
			<a href="/myAccount" class="brand-logo">&nbsp; Boat Manager</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="boats">Boats</a></li>
				<li><a href="issues">Issues</a></li>
				<li><a href="bookings">Bookings</a></li>
				<li><a href="users">Users</a></li>
				<li><a href="myAccount">My Account</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h5>BookingID = {{BookingID}}</h5>
		<div class="row">
			<div class="col s3"></div>
			<div class="col s6">		
				<form action="" method="POST" class="form-inline">
					{{ editBookingForm.csrf  }}
					<div class="input-field">
						{{ editBookingForm.boat.label(class="active") }}
 						{{ editBookingForm.boat(class="browser-default") }}
					</div>

					<div class="input-field">
						&nbsp
						<label for="startTime_input">Datetime: </label>
						<input type="text" onfocus="(this.type='datetime-local')" name="startTime" id="startTime_input" class="form_control" placeholder={{dateTime}}>
					</div>

					<div class="input-field">
						<label for="length_input">Length (mins): </label>
						<input type="number" name="length" id="length_input" class="form_control" placeholder="{{length}}">
					</div>

					<div>
						<button name="submit" type="submit" class="btn btn-primary" placeholder="createBooking">Update Values</button>
					</div>
				</form>
				<br>
				<h5 id="error" style="color: red;">{{message}}</h5>
			</div>
		</div>
	</div>

</body>
<!--set default values for name and email-->
<script>
    document.addEventListener('DOMContentLoaded', function(event) { 
        document.getElementById('length_input').value = '{{Name}}';
    });
    document.addEventListener('DOMContentLoaded', function(event) { 
        document.getElementById('startTime_input').value = '{{dateTime}}';
    });
	document.addEventListener('DOMContentLoaded', function(event) { 
        document.getElementById('length_input').value = '{{length}}';
    });
</script>
</html>
